
.resultbox {
    @import url(//fonts.googleapis.com/earlyaccess/hanna.css);
    font-family: 'Hanna', sans-serif;
    border-radius: 30px;
    margin:0 auto;
    margin-top: -30px;
    height: 100px;
    background-color:rgba(255, 255, 255, 0.75);
    width:600px;
    max-width: 100%;
    text-align: center;
    padding: 12px;
    color:black;
    }

    .nextPageButton{
        padding-top:150px;
        margin-top:-80px;
        margin-left:130px;
        background: url('newairplane.png') no-repeat;
        border:none;
        width:64px;
        height:64px;
        cursor:pointer;
    }

    .nextPageMessage{
        color:whitesmoke;
        background: url('cloud.png') no-repeat;
        height: 73px;
        width:130px;
        padding:7px;
        margin:0 auto;
        border-radius:5px;
    }