
.resultbox {
    font-family: 'Cafe24Oneprettynight';
    font-size: x-large;
    border-radius: 30px;
    margin:0 auto;
    margin-top: -70px;
    height: 90px;
    background-color:rgba(255, 255, 255, 0.75);
    width:600px;
    max-width: 100%;
    text-align: center;
    padding: 12px;
    color:rgb(10, 19, 99);
    }

    .nextPageButton{
        padding-top:150px;
        margin-top:-80px;
        margin-left:130px;
        background: url('newairplane.png') no-repeat;
        border:none;
        width:64px;
        height:64px;
        cursor:pointer;
    }

    .nextPageMessage{
        font-size:x-large;
        font-weight: 700;
        font-family: 'Cafe24Oneprettynight';
        color:rgb(10, 19, 99);
        background: url('cloud_2.png') no-repeat;
        height: 112px;
        width:199px;
        padding:7px;
        margin:0 auto;
        margin-bottom: 10px;
        border-radius:5px;
    }