.jejuhallasan * {
    font-family: 'Cafe24Oneprettynight', cursive;
   }

.header{
    
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
    font-size: x-large;
    font-family: 'Cafe24Oneprettynight', cursive;
    color:rgb(10, 19, 99);
    margin-top:60px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    position:relative;
    z-index:1000;
}